<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.fitlink.mapper.FitLinkMapper">

<select id="findByAdminCode" resultType="com.sp.fitlink.dto.AdminDto">
    SELECT * FROM admin WHERE code = #{code} LIMIT 1
</select>

<!-- <select id="countByKakaoId" resultType="int" parameterType="long">
    SELECT COUNT(*) FROM user WHERE kakao_id = #{kakaoId}
</select> -->

<select id="findAdminByKakaoId" resultType="com.sp.fitlink.dto.AdminDto">
    SELECT * FROM admin_table WHERE kakao_id = #{kakaoId}
</select>

<insert id="adminRegisterComplete" parameterType="com.sp.fitlink.dto.AdminDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO admin (
        id,
        name,
        gender,
        birth,
        email,
        phone,
        favorite,
        workplace,
        certificate_path,
        code
        ) VALUES (
        #{id},
        #{name},
        #{gender},
        #{birth},
        #{email},
        #{phone},
        #{favorite},
        #{workplace},
        #{certificateFileName},
        #{code}
    )
</insert>

<select id="countByPhone" resultType="int">
    SELECT COUNT(*) FROM admin WHERE phone = #{phone}
</select>


<!--알림 INSERT-->
 <insert id="insertNotification" parameterType="com.sp.fitlink.dto.NotificationDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO notification
    (sender_id, recipient_id, message, is_read)
    VALUES
    (#{sender_id}, #{recipient_id}, #{message}, #{is_read})
  </insert>

<select id="findManagerById" resultType="com.sp.fitlink.dto.ManagerDto" parameterType="int">
    SELECT * FROM manager WHERE id = #{id}
</select>

<select id="findByNameContaining" resultType="com.sp.fitlink.dto.AdminDto">
    SELECT id,name, phone , email
    FROM admin
    WHERE name LIKE CONCAT('%', #{keyword}, '%')
  </select>

<!--    하나로 조인시켜 새로운 DTO만 만들기 (DB에는 말고)-->
    <select id="trainerInfo" resultType="com.sp.fitlink.dto.AdminInfoDto">
        SELECT
        a.id,
        a.name,
        a.gender,
        a.certificate_path AS certificateFileName,
        a.favorite AS specialty,
        w.workplace_name AS workplaceName,
        w.address,
        w.lat,
        w.lng,
        COUNT(r.id) AS reviewCount /*후기 수 추가*/
        FROM admin a
        JOIN workplace_name w
        ON a.workplace_name_id = w.id
        LEFT JOIN review r
        ON a.id = r.admin_id
        WHERE 1=1
        <if test="workplaceId != null">
            AND w.workplace_id = #{workplaceId}
        </if>
        <if test="gender != null and gender != ''">
            AND a.gender = #{gender}
        </if>
        <if test="specialty != null and specialty != ''">
            AND a.favorite = #{specialty}
        </if>
        GROUP BY a.id;
    </select>

    <select id="findReviewsAdmin" resultType="com.sp.fitlink.dto.ReviewDto">
        SELECT
            id,
            admin_id,
            rating,
            content,
            created_at
        FROM review
        WHERE admin_id = #{adminId}
        ORDER BY created_at DESC
    </select>

    <select id="findAdminId" resultType="com.sp.fitlink.dto.AdminDto">
        select * from admin where id = #{id};
    </select>

    <insert id="insertReservation">
        INSERT INTO reservation
        (
            admin_id,
            user_name,
            user_phone,
            check_in_time,
            check_out_time,
            kakao_user_id,
            date,
            created_at
        )
        VALUES
            (
                #{adminId},
                #{userName},
                #{userPhone},
                #{checkIn},
                #{checkOut},
                #{kakaoUserId},
                  DATE_FORMAT(#{checkIn}, '%Y-%m-%d'),
                NOW()
            )
    </insert>

    <select id="findReservedTimes" resultType="String">
        SELECT DATE_FORMAT(check_in_time, '%H:%i') AS reserved_time
        FROM reservation
        WHERE admin_id = #{adminId}
          AND DATE(check_in_time) = DATE(#{date})
        ORDER BY reserved_time
    </select>

    <select id="countReserved" resultType="int">
        SELECT COUNT(*) FROM reservation WHERE admin_id = #{adminId} AND check_in_time = #{checkIn}
    </select>

    <!-- 관리자 ID 기준 예약 목록 조회 -->
    <select id="findByAdminId" resultType="com.sp.fitlink.dto.ReservationDto">
        SELECT
            id,
            admin_id AS adminId,
            user_name AS userName,
            user_phone AS userPhone,
            check_in_time AS checkIn,
            check_out_time AS checkOut
        FROM reservation
        WHERE admin_id = #{adminId}
        ORDER BY check_in_time ASC
    </select>

    <select id="existsReservation" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM reservation
        WHERE admin_id = #{adminId}
          AND check_in = #{checkIn}
    </select>

    <insert id="insertUserNotification" parameterType="com.sp.fitlink.dto.UserNotificationDto">
        INSERT INTO userNotification(kakao_user_id, message, is_read)
        VALUES(#{kakaoUserId}, #{message}, false)
    </insert>


    <select id="findByKakaoUserId" resultType="com.sp.fitlink.dto.UserNotificationDto">
        SELECT id, kakao_user_id, message,
               is_read, DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS createdAt
        FROM userNotification
        WHERE kakao_user_id = #{kakaoUserId}
        ORDER BY id DESC
    </select>

    <delete id="reservationRealCancel">
        DELETE FROM reservation WHERE id = #{id}
    </delete>

    <select id="findReservationById" resultType="com.sp.fitlink.dto.ReservationDto">
        SELECT
            r.id,
            r.admin_id AS adminId,
            r.user_id AS userId,
            r.kakao_user_id AS kakaoUserId,
            r.user_name AS userName,
            r.user_phone AS userPhone,
            r.status AS status,
            r.check_in_time AS checkIn,
            r.check_out_time AS checkOut,
            a.name AS adminName
        FROM reservation r
                 LEFT JOIN admin a ON r.admin_id = a.id
        WHERE r.id = #{id}
    </select>

    <select id="trainerCount" resultType="int">
        SELECT COUNT(*) FROM admin;
    </select>

    <select id="customerCount" resultType="int">
        select COUNT(*) FROM user;
    </select>

    <select id="topRank" resultType="String">
        SELECT a.name AS trainer_name FROM admin a JOIN reservation r ON a.id = r.admin_id
        WHERE DATE_FORMAT(r.date, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m') GROUP BY a.id, a.name DESC LIMIT 1;
    </select>

    <select id="countByToday" resultType="int">
        SELECT COUNT(*) AS today_reservation_count
        FROM reservation
        WHERE DATE(check_in_time) = CURDATE();
    </select>

    <select id="findTrainersByPage" resultType="com.sp.fitlink.dto.AdminDto">
        SELECT   id,
                 name,
                 gender,
                 birth,
                 email,
                 phone,
                 workplace,
                 certificate_path AS certificateFileName,
                 code,
                 workplace_name_id AS workplaceNameId,
                 favorite
        FROM admin
        ORDER BY id ASC
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="findMembers" resultType="com.sp.fitlink.dto.UserDto">
        SELECT
            id,
            admin_id AS adminId,
            name,
            phone,
            created_at AS createdAt
        FROM user
        ORDER BY id DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="findTrainerRank" resultType="com.sp.fitlink.dto.AdminRankDto">
        SELECT
            a.id,
            a.name,
            w.workplace_name AS workplaceName,
            COUNT(r.id) AS reservationCount
        FROM admin a
                 LEFT JOIN reservation r
                           ON a.id = r.admin_id
                               AND DATE_FORMAT(r.check_in_time, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')  /* 이번 달만 */
                 LEFT JOIN workplace_name w
                           ON a.workplace_name_id = w.id
        GROUP BY a.id
        ORDER BY reservationCount DESC, a.id ASC   /* 예약 많이 한 순 → 동률이면 id 오름차순 */
            LIMIT #{offset}, #{pageSize}
    </select>

    <!-- FitLinkMapper.xml 안에 추가 -->
    <select id="findReservationStatsLast7Days"
            resultType="com.sp.fitlink.dto.ReservationStatDto">
        SELECT
            DATE(check_in_time) AS statDate,
            COUNT(*)       AS count
        FROM reservation
        WHERE check_in_time >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        GROUP BY DATE(check_in_time)
        ORDER BY statDate
    </select>

    <select id="findRecentTrainers" resultType="com.sp.fitlink.dto.AdminDto">
        SELECT id, name, created_at as createdAt
        FROM admin
        ORDER BY createdAt DESC
            LIMIT 3
    </select>

    <update id="adminCodeRegisterComplete">
        UPDATE admin
        SET code = #{adminCode}
        WHERE id = #{adminId}
    </update>


</mapper>