<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.fitlink.mapper.FitLinkMapper">

<select id="findByAdminCode" resultType="String">
    SELECT code FROM adminAuthCode LIMIT 1;
</select>

</mapper>